nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */

  }
  #navbar {
    /* margin-top: 15px; */
    display: flex;
    align-items: center;
/* margin-right: 10%; */
text-align: center;   
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  

  
 
  #mobile {
    display: none;
  }
  
  #mobile i {
    color: #fff;
    align-items: center;
  }
  
  @media screen and (max-width: 769px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 90px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background: white;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
      margin-right: -3%;
      /* margin-top: 18px; */

    }
  
    #navbar.active {
      right: 10px;
    }
  
    #navbar li {
      margin-bottom: 25px;
    }
  
    #mobile {
      display: block;

    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
      color:black
    }
  }

  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
padding-left: 0;
    left: 0;
    display: none;
    background: red;
    z-index: 1000; /* Ensure the overlay is above other elements */

  }

  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
  }

  ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
  }

  ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
  }


ul li ul li a { transition: all 0.5s ease; }
